<tr id="r{{ app_id }}" ><td valign="top" width=2><img src="/static/AppDir/image/spacer.gif" width=2></td><td width=100% colspan=2><a id="a{{ app_id }}" href="javascript:RA('{{ app_id }}', '{{ app_id }}')" title="{{ description }}">{{ name }}</a></td></tr>
